*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   'Poppins', sans-serif;
}
body{
    background-color: rgb(27, 29, 48) ;
    color: white;
}
.container{
    border: 2px solid white;
    margin: 3rem;
}
.container h1{
    font-size: 2rem;
    font-weight: 500;
}
.container h1 span{
    color: green;
    border-bottom: 3px solid green;
    
}
img{
    height: 2rem;
}