body{
    background-color:rgb(107, 143, 143);
}
#heading{
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.quote-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    background-color: rgb(245, 249, 247);
    border-radius: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}

blockquote{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h1{
    text-align: center;
}

.button-box{
    margin: 1rem 0.5rem 1.5rem 0.5rem;
   
}

button{
    background-color:blue;
    color: white;
    padding: 1em;
    border-radius: 1.5rem;
    border: none;
    font-weight: 650;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    }

#tweet{
    background-color: transparent;
    border: 1.5px solid blue;
    color: blue;
}
button:hover{
    color: blue;
    background-color: white;
    border: 1px solid blue;
}
#tweet:hover{
    color: white;
    background-color: blue;
}

@media only screen and (max-width: 400px) {
    .quote-box {
        width: 81%;
        margin-left: 6%;
        padding: 0px 13px;
    }
  }